body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTugsDXau02kn6coUN5nRYUGgXHxR0pCGQvKKZzCCLs1ba9pzhF);
	background-repeat: no-repeat;
	background-size:cover;
	padding: 40px 40px 40px 40px;
}

#next{
	display:flex;
	margin-bottom: 30px;
}
#allButton{
	display: flex;
	flex-direction: column;
}
.buttons{
	margin-bottom: 30px;
}
.con{
	display:flex;
	justify-content: space-around;
	width:80vw;

}
#menu{
	height:40px;
}
.bar-menu{
	display: flex;
	flex-direction: column;
}

.color-div{
	display:flex;
	flex-direction: column;
	width:30%;
}

.status-bar{
	border:1px solid green;
	margin-bottom: 30px;
}
canvas{
	border:5px solid green;
	margin-left: 30px;

}
